<nav class="navbar navbar-expand-lg navbar-dark sidenav">
     
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/home/dashboard"><i class="menu_icon fa fa-tachometer"></i> DASHBOARD</a></li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href=""><i class="menu_icon fa fa-suitcase"></i> ACCOUNTS <i class="arrow fa fa-chevron-right"></i></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/home/acclanch">Launch Accounts / Products</a></li>
            <li><a href="#">Update Accounts / Products</a></li>
            <li><a href="#">Valuations</a></li>
            <li><a href="#">Upload History</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href=""><i class="menu_icon fa fa-money"></i> ENTITY / INVESTOR <i class="arrow fa fa-chevron-right"></i></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/home/create-entity">Create Entity</a></li>
            <li><a routerLink="#">Bulk Create Entities</a></li>
            <li><a routerLink="#">Search Entities</a></li>
            <li><a routerLink="#">Create Investor</a></li>
            <li><a routerLink="#">Bulk Create Investors</a></li>
            <li><a routerLink="#">Search Investors</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="menu_icon fa fa-lock"></i> CUSTODY</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href=""><i class="menu_icon fa fa-gavel"></i> LEGAL <i class="arrow fa fa-chevron-right"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Manage Agreements</a></li>
            <li><a href="#">Create/Modify Agreement</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="menu_icon fa fa-file-text-o"></i> DOCUMENTS</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href=""><i class="menu_icon fa fa-check-square-o"></i> CHECKLIST <i class="arrow fa fa-chevron-right"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Launch New Checklist</a></li>
            <li><a href="#">View Drafts</a></li>
            <li><a href="#">Manage Templates</a></li>
          </ul>
        </li>      
      </ul>      
    </div>
  </nav>